header{
      border: 1px solid rgb(27, 5, 5);
      width: 100%;
      height: auto;/*auto hace que agarre el tamaño que necesita*/
      background:#170564;
      text-shadow:.3em .3em .5em black ;
      /*box model*/
      display: flex ;/* Que el contenedor sea flexible*/
      justify-content: space-between; /*dispersa los objetos en toda el area*/
      align-items: center;
     }
     /*Botones generales*/
     button{
      border-radius: 5px;
      cursor: pointer;
      background: rgb(65, 95, 191);
      /* x-y-difuminado-color para etiquetas*/
      box-shadow: 0 0 .5em black;
      
    }
     
     #mainMenu{
      background: none;
      border: none;
      cursor: default;
     }
     /*Botones de clase-siempre poner el punto para llamar la clase*/
     .botones{
      font-size: large;
      color: aquamarine;
     }
     

     img{
        width: 100px;
       }
       

/*                                                     Menu responsivo                                                              */
      /* Add a black background color to the top navigation */
.topnav {
      /*Etiqueta de carrito y eso */
      background-color: #582eff;
      overflow: hidden; /*mostrar el escrol*/
      /*float: flex;*****/
      /*display: flex;
      justify-content: left;*/
      
    }
    
    /* Style the links inside the navigation bar */
    .topnav a { /* todas las etiquetas -- enlaces internos*/
      float: left;
      display: block;

      color: #f4eded;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 15px;
    }
    
    /* Add an active class to highlight the current page */
    .active {
      /*Etiqueta inicio*/
      background-color: #99aeed;
      color: white;
    }
    
    /* Hide the link that should open and close the topnav on small screens */
    .topnav .icon {
      display: none;/* para que se vean y se oculten las 3 rayitas*/
    }
    
    /* Dropdown container - needed to position the dropdown content */
    .dropdown {
      float: flex;
      /*float: left;    se acomodan todos los botones arriba CHECAR*/ 
      /*display: flex;*/
      /*justify-content: left;*/
      /*overflow: hidden; CHECAR*/
    }
    
    /* Style the dropdown button to fit inside the topnav */
    .dropdown .dropbtn {
      font-size: 15px;
      border: none;
      outline: none;
      color: white;
      padding: 14px 10px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
    
    /* Style the dropdown content (hidden by default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 9999;
    }
    
    /* Style the links inside the dropdown */
    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    /* Add a dark background on topnav links and the dropdown button on hover */
    .topnav a:hover, .dropdown:hover .dropbtn {
      background-color: #0a94e4;
      color: white;
    }
    
    /* Add a grey background to dropdown links on hover */
    .dropdown-content a:hover {
      background-color: #ddd;
      color: black;
    }
    
    /* Show the dropdown menu when the user moves the mouse over the dropdown button */
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
    @media screen and (max-width: 600px) {/*tamaño de la pantalla para que se vea las rayitas*/
      .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
      }
      .topnav a.icon {
        float: right;
        display: block;
      }
    }
    
    /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
    @media screen and (max-width: 600px) {
      .topnav.responsive {position: relative;}
      .topnav.responsive a.icon {
        position: relative;
        left: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
      .topnav.responsive .dropdown {float: none;}
      .topnav.responsive .dropdown-content {position: relative;}
      .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
      }
    }